In [ ]:
import pandas as pd
import json
import sqlite3

In [ ]:
orders = pd.read_csv("orders.csv")
with open("users.json", "r") as f:
    users = pd.DataFrame(json.load(f))

conn = sqlite3.connect(":memory:")
with open("restaurants.sql", "r") as f:
    conn.executescript(f.read())
restaurants = pd.read_sql("SELECT * FROM restaurants", conn)

In [ ]:
final_df = (
    orders
    .merge(users, on="user_id", how="left")
    .merge(restaurants, on="restaurant_id", how="left")
)

In [ ]:
final_df = (
    orders
    .merge(users, on="user_id", how="left")
    .merge(restaurants, on="restaurant_id", how="left")
)

In [ ]:
final_df.to_csv("final_food_delivery_dataset.csv", index=False)

In [ ]:
final_df["order_date"] = pd.to_datetime(final_df["order_date"], dayfirst=True)

**Multiple Choice Questions**

In [ ]:
final_df[final_df.membership=="Gold"] \
    .groupby("city")["total_amount"].sum().idxmax()

'Chennai'

In [ ]:
final_df.groupby("cuisine")["total_amount"].mean().idxmax()

'Mexican'

In [ ]:
(final_df.groupby("user_id")["total_amount"].sum() > 1000).sum()

np.int64(2544)

In [ ]:
final_df["rating_range"] = pd.cut(
    final_df.rating, [3,3.5,4,4.5,5], include_lowest=True
)

final_df.groupby("rating_range")["total_amount"].sum().idxmax()

/tmp/ipython-input-1892942832.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  final_df.groupby("rating_range")["total_amount"].sum().idxmax()

Interval(4.5, 5.0, closed='right')

In [ ]:
final_df[final_df.membership=="Gold"] \
    .groupby("city")["total_amount"].mean().idxmax()

'Chennai'

In [ ]:
final_df.groupby("cuisine").agg(
    restaurants=("restaurant_id","nunique"),
    revenue=("total_amount","sum")
).sort_values(["restaurants","revenue"], ascending=[True,False]).head(1)

         restaurants     revenue
cuisine
Chinese          120  1930504.65

In [ ]:
round(
    (final_df[final_df.membership=="Gold"].shape[0] / final_df.shape[0]) * 100
)

50

In [ ]:
final_df.groupby("restaurant_name_y").agg(
    avg_order=("total_amount", "mean"),
    total_orders=("order_id", "count")
).query("total_orders < 20") \
 .sort_values("avg_order", ascending=False) \
 .head(1)

                     avg_order  total_orders
restaurant_name_y
Restaurant_294     1040.222308            13

In [ ]:
final_df.groupby(["membership","cuisine"])["total_amount"].sum().idxmax()

('Regular', 'Mexican')

In [ ]:
final_df["quarter"] = final_df.order_date.dt.to_period("Q")

final_df.groupby("quarter")["total_amount"].sum().idxmax()

Period('2023Q3', 'Q-DEC')

**Numerical Type Questions**

In [ ]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")
df["order_date"] = pd.to_datetime(df["order_date"], dayfirst=True)

In [ ]:
df[df.membership == "Gold"].shape[0]

4987

In [ ]:
round(df[df.city == "Hyderabad"]["total_amount"].sum())

1889367

In [ ]:
df["user_id"].nunique()

2883

In [ ]:
round(df[df.membership == "Gold"]["total_amount"].mean(), 2)

np.float64(797.15)

In [ ]:
df[df.rating >= 4.5].shape[0]

3374

In [ ]:
top_gold_city = (
    df[df.membership == "Gold"]
    .groupby("city")["total_amount"]
    .sum()
    .idxmax()
)

df[(df.membership == "Gold") & (df.city == top_gold_city)].shape[0]

1337

**Fill-in-the-Blank Questions**

In [ ]:
import pandas as pd

df = pd.read_csv("final_food_delivery_dataset.csv")

In [ ]:
df.shape[0]

10000